@use "abstracts" as *;

:root {
  font-size: 62.5%;
  /* Default 16px * 62.5% = 10px. Now 1 rem == 10px. */
}

html {
  scroll-behavior: smooth;
}

form > * {
  display: block;
}

body {
  font-size: 1.6rem;
  background-color: green;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
svg {
  max-width: 100%;
  vertical-align: text-bottom;
  /* removes the space under the img. It's an inline elements 
  and has the space for descenders (the bits that hang off the bottom of 'y' and 'p') */
}

button {
  border: none;
}

li {
  list-style: none;
  /* reset for nav */
}

h2 {
  font-weight: 400;
  /* for this project */
}
